.streamers {
	&__title {
		font-weight: 600;
	}
	&__more {
		max-height: vw(50);
		display: flex;
		align-items: center;
		font-size: vw(38);
		color: $lightgray;
	}
	&__link {
		margin-right: vw(11);
		max-width: vw(40);
	}
	&__img {
		border-radius: vw(15);
		border: 2px solid $red;
	}
}
.font-light {
	font-weight: 400;
}