.sidebar {
	width: vw(250);
	left: 0;
	top: 0;
	bottom: 0;
	border-right: vw(1) solid rgba(0,0,0,0.1);
	padding-right: vw(45);
	min-height: 100vh;
	&__logo {
		padding: vw(20) vw(25);
		img {
			height: vw(40);
		}
	}
	&__nav {
		margin-top: vw(25);
		background-color: #F8F9F8;
		border-radius: vw(15);
		padding: vw(45) vw(30) vw(25) vw(20);
	}
	&__updated {
		padding: vw(20) vw(30);
		margin-top: vw(25);
		background-color: #F8F9F8;
		border-radius: vw(15);
	}
}

.menu {
	&__items {
		margin-bottom: vw(20);
		line-height: 1;
	}
	&__links {
		display: block;
		font-size: vw(16);
		font-weight: 500;
		color:#C2C4C4;
		padding-left: vw(20);
		&.active {
			position: relative;
			color: $red;
			&::before {
				content: '';
				position: absolute;
				right: vw(25);
				top: vw(8);
				height: vw(10);
				width: vw(10);
				background-color: $red;
				border-radius: vw(15);
			}
		}
	}
	&__icons {
		margin-right: vw(15);
		font-weight: 500;
		font-size: vw(18);
	}
}
.icon {
	margin-right: vw(15);
	font-weight: 500;
	font-size: vw(18);
}
.updated {
	display: flex;
	align-items: center;
	&__icon {
		padding: vw(12);
		font-size: vw(18);
		color: #fff;
		background-color: #9013FE;
		border-radius: vw(15);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title {
		font-size: vw(15);
		font-weight: 700;
		color: #3F4347;
		margin: 0 0 vw(5);
	}
	&__author {
		font-size: vw(13);
		color:#C2C4C4;
	}
}

.stats {
	margin-top: vw(25);
	display: flex;
	flex-wrap: wrap;
	&__points {
		background-color: #F8F9F8;
	}
	&__number {
		font-size: vw(15);
		font-weight: 700;
		color: #333;
		margin: vw(30) 0 vw(3);
	}
	&__name {
		font-size: vw(15);
		font-weight: 700;
		color: #333;
	}
	&__type {
		font-size: vw(13);
		color: #777;
		font-weight: 500;
	}
}