body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.container {
	padding: 0 vw(30);
	margin: 0 auto;
}
.flex {
	display: flex;
}
.fixed {
	position: fixed;
}
span {
	display: inline-block;
}
a {
	display: inline-block;
	text-decoration: none;
}
ul,
ol,
li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	background-color: #fff;
	cursor: pointer;
}

.col-6 {
	width: 50%;
}
.col-12 {
	width: 100%;
}

.green {
	color: $green;
}

.pink {
	color: $pink;
}